@page "/scratchpad"
@model IndexModel
@{
    ViewData["Title"] = "Scatch pad";
}

<h2>Hurro</h2>
<iframe width="100"
        height="200"
        src="https://www.youtube.com/embed/v24FQt1LIjM?autoplay=1"
        on="load"
        publish="hip_happened">
</iframe>
<iframe width="100"
        height="200"
        src="https://www.youtube.com/embed/v24FQt1LIjM?autoplay=1"
        on="load"
        publish="hip_happened_again"
        with-message="Hello from the iframe!">
</iframe>
<p> 
    <button on="click"
            publish="main_button_clicked">Click me</button>
    <button on="click"
            publish="main_button_clicked_again" 
            with-data="@new MainButtonClickedAgain(DateTime.UtcNow)">Or me</button>
</p>
<form on="submit" publish="main_form_submitted">
    <p>
        <label for="prop1">Prop 1</label><br/>
        <input type="text" name="prop1" id="prop1"/>
    </p>
    <p>
        <label for="prop2">Prop 2</label><br/>
        <select name="prop2" id="prop2">
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </p>
    <p>
        <input type="checkbox" name="prop3" value="A"/>
        <input type="checkbox" name="prop3" value="B"/>
        <input type="checkbox" name="prop3" value="C"/>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>