*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, input, button, select, textarea {
    font-family: monospace;
    background: #333333;
    color: #cccccc;
}

h1, h2, h3, h4, p{
    margin-bottom: 1.5em;
}