<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - boomer-sse - cool, but not cool</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
</header>
<main role="main" data-bsse-onready="main_loaded|@DateTime.UtcNow">
    @RenderBody()
</main>
<footer></footer>
<script src="js/boomer-sse.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>