<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - boomer-sse - cool, but not cool</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
</header>
<main role="main" data-bsse-onload="main_loaded|@DateTime.UtcNow">
    @RenderBody()
    <p>
        <button data-bsse-onclick="main_button_clicked">Click me</button>
        <button data-bsse-onclick="main_button_clicked|@DateTime.UtcNow">Or me</button>
    </p>
    <form data-bsse-onsubmit="main_form_submitted">
        <p>
            <label for="prop1">Prop 1</label><br/>
            <input type="text" name="prop1" id="prop1"/>
        </p>
        <p>
            <label for="prop2">Prop 1</label><br/>
            <select name="prop2" id="prop2">
                <option>Option 1</option>
                <option>Option 2</option>
            </select>
        </p>
        <p><button type="submit">Submit</button></p>
    </form>
</main>
<footer></footer>
<script src="js/boomer-sse.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>