@inject IWebHostEnvironment WebHostEnvironment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Environment.GetEnvironmentVariable("BSSE_SCALEOUT") - @ViewData["Title"] - boomer-sse - cool, but not cool</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
</header>
<main role="main"
      on="load"
      publish="main_loaded"
      with-data="@DateTime.UtcNow">
    @RenderBody()
</main>
<footer></footer>
<bsse-script no-cache="WebHostEnvironment.IsDevelopment()" />
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>